.homepage{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap:1.4em;
  margin:0em 1em 0em 1em;
  }

.homepage img{
  width: 14em;
  height:auto;
  margin: 0px auto;
}

.homepage p{
  text-align: left;
}
